.backdrop3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}
.modal3 {
    position: fixed;
    top: 50vh;
    left: 40%;
    width: 20%;
    right:0%;
    z-index: 100;
    overflow: hidden;
    background: white;
    box-shadow: 5px 5px;
    border-radius: 10px;
    height: 150px;
}


.header3 {
    background: #bf1996;
    text-align: center;
    color:white;
    margin-top: 0px;
}
.header3 h1{
    line-height: 35px;
    font-size:20px;
}
.content3 {
    margin-left: 40px;
    font-size:8px;
    margin-top: 10px;
}
.button2{
    cursor: pointer;
    margin-left:100px;
    background-color:#bf1996 ;
    color: white;
    border-radius: 25px;
    border: 0px;
    height: 25px;
    width:70px;
    margin-top: 15px;
}