
.mailsent-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}
.mailsent {
    position: fixed;
    margin-top:350px;
    margin-left:600px;
    width: 20%;
    z-index:100;
    background: rgb(240, 237, 237);
    box-shadow: 2.5px 2.5px;
    border-radius: 10px;
    height: 75px;
}
.mailsent h1{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}

.mailsent-button{
    
    cursor: pointer;
    margin-left: 90px;
    background-color:#bf1996 ;
    color: white;
    border-radius: 25px;
    border: 0px;
    height: 25px;
    width:70px;
    margin-top: 10px;
}