.backdrop1 {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}
.modal1 {
    position: fixed;
    top: 30vh;
    left: 40%;
    width: 20%;
    right:0%;
    z-index: 100;
    overflow: hidden;
    background: white;
    box-shadow: 5px 5px;
    border-radius: 10px;
    height: 300px;
}


.header1 {
    background: #bf1996;
    height:35px;
    /* text-align: center; */
    color:white;
    margin-top: -15px;
}
.header1 h1{
    line-height: 35px;
}
.content1 {
    padding: 1rem;
    padding-top: 1px;
}
.button3{
    cursor: pointer;
    margin-left:100px;
    background-color:#bf1996 ;
    color: white;
    border-radius: 25px;
    border: 0px;
    height: 25px;
    width:70px;
}