.backdrop2{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, 0.75);
}
.modal2 {
    position: fixed;
    top: 50vh;
    left: 40%;
    width: 20%;
    right:0%;
    z-index: 100;
    overflow: hidden;
    background: white;
    box-shadow: 2.5px 2.5px;
    border-radius: 10px;
    height: 75px;
    transition: all 0.3s ease-out;
}

.modal2 h1{
    font-size: 15px;
    text-align: center;
    margin-top: 5px;
}
.button4{
    /* padding: 1rem; */
    /* display: flex; */
    /* justify-content:end; */
    cursor: pointer;
    margin-left: 90px;
    background-color:#bf1996 ;
    color: white;
    border-radius: 25px;
    border: 0px;
    height: 25px;
    width:70px;
    margin-top: 10px;
}