.content{
    /* background-color: aqua; */
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin-left: 140px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
}