.joinbackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background: rgba(48, 47, 47, 0.75);
}
.join{
    
    position: fixed;
    top:40vh;
    left:0%;
    width:30%;
    right:0%;
    z-index: 100;
    overflow: hidden;
    background: white;
    border-radius: 10px;
    height: 250px;
}

.join h1{
    font-size: 20px;
    font-weight: 550;
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
}

.join p{
    margin-left: 20px;
    margin-top: 15px;
}

.meet-link {
    display: flex;
    align-items: center;
    justify-content:space-around;
    background: #f1f3f5;
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 30px;
    margin-right: 15px;
}
.meet-link span {
    font-size: 14px;
    font-weight: 600;
    background: none;
    flex:1;
    color: #555;
    display:flex;
}
.icon {
    cursor: pointer;
    color: #555;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: #04796a; */
    background: #bf1996;
    color: #fff;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    margin-left: 20px;
    cursor: pointer;
}
