.meet{
    display: flex;
    flex-direction: row;
    margin-left:90px;
    margin-top: 20px;
    width:230px;
    padding-left: 6px;
    -webkit-box-shadow: -1px 0px 9px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 0px 9px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 0px 9px -1px rgba(0,0,0,0.75);
    border-radius: 5px;
    cursor: pointer;
}
.meet h1{
    font-size: 15px;
    font-weight: 500;
    padding: 7px;
}