.style{
   
    width: 100vw; 
   
}
.style1{
    display: flex;
    flex-direction: row;
    width: 100vw;

}
.style2{
    
    font-style: italic;
    margin-left: 60px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.style2{  
    width: 300px;
    justify-content: space-between;
    display: flex;
    color: #bf1996;
    flex-direction: row; 
    align-items: center;

}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:60vw;
    margin-left:60%;
    color: rgb(95,99,104);
  
}



.style3{
   
    font-style: italic;
    color:black;
    margin-top: 0px;
    margin-left: 40px;
    font-size:20px;
    display: flex;
    flex-direction: row;
}

.style4{
   display: flex;
   flex-direction: row;
   align-items: center;
}
.slick-prev::before,
.slick-next::before{
    color: black !important;
}
.joinbutton{
    margin-top: 10px;
    background-color: #bf1996;
    margin-left: 40px;
    height: 30px ;
    width: 120px;
    color: white;
    border-radius: 25px;
    border: 0px;
    height:40px;
    padding-left: 20px;
    cursor: pointer;
    display: flex;
}
.joinbutton-h1{
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
    padding-top: 0px;
}



