.header{
    height: 60px;
}
.head{
    background-color: #F27B1A;
    position: relative;
    z-index: 1;
    margin-top: -5px;
    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.75);
    height: 40px;
    display: flex;
    flex-direction: row;
    
}

.image1{
    width:50px;
    margin-left: 65px;
    margin-top: 10px;
}

.vedioicon{
    width: 35px;
    margin-left:20px;
}
.h2{
    margin-left: 130px;
    margin-top: -40px;
    font-size:1.5rem;
    font-style: italic;
    color:#bf1996;
    display:flex;
}

.foot{
    width:100%;
    background-color: lightgray;
    height: 150px;
    margin-top: 400px;
}

.foot-data{
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: 250px;
    padding-top: 10px;
}
.foot-data h4{
    align-items: center;
    margin-left: 0px;
    line-height: 0.5px;
}

.foot-data1{
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: 500px;
    margin-top:-120px;
    padding-top: 0px;
    justify-content: space-around;
    padding-bottom: 10px;
    
}


.foot-data2{
    font-weight: 400;
    font-size: 0.75rem;
    margin-left: 800px;
    margin-top:-150px;
    
}

.last{
    width: 100%;
    background-color: lightgrey;
    margin-top: 25px;
    font-weight: 400;
    font-size: 0.75rem;
}

.last >p{
    margin-left: 250px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right:5rem;
}