.addbackdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background: rgba(48, 47, 47, 0.75);
}
.add{
    position: fixed;
    top: 40vh;
    left: 40%;
    width: 30%;
    z-index:-1;
    overflow: hidden;
    background: white;
    border-radius: 10px;
    height: 250px;
}
.adduser{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.adduser h1{
    font-size: 15px;
    font-weight: 550;
    margin-left: 20px;
    margin-top: 30px;
    width: 100px;
}

.adduser-input{
    width:100%;
    margin-top: 20px;
    height: 40px;
    border:1px solid black;
    /* margin-left: 10px; */
    outline: none;
}
.adduser-input::placeholder{
    margin-left: 10px;
    font-size: 14px;
    color:black;
    padding-left: 15px;
    font-weight: 500;
    opacity: 80%;
}

.sbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#bf1996;
    color: #fff;
    font-size: 17px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-top: 55px;
    margin-left: 300px;
    cursor: pointer;
}