.mainform{
    
    width: 310px;
    margin-left: 850px;
    height: 500px;
    border-radius: 5px;
    margin-top: -520px;
    /* border:1px solid #bf1996; */
    display:flex;
    flex-direction: row;
    overflow: hidden;
    /* background-image: url("assets/terralogo.jpg"); */
}
h5{
    color:rgb(2, 2, 36);
    padding-top: 1.5rem;
    margin-left: 30px;
    font-size: 1.05rem;
    font-weight: 650;
    margin-top: 12px;
}
.login label{
    display: flex;
    margin-left: 15px;
    color: rgb(2, 2, 36);
    font-weight: 750;
    margin-top: 20px;
    font-size: 15px;
}

.input{
    margin-left: 15px;
    border-radius: 8px;
    border: 1px;
    box-shadow: 1px 3px 6px  rgba(163, 157, 157, 0.5);
    padding: 7px;
    width: 200px;
    outline-color: #bf1996;
    margin-top: 1px;
}


.login1 label{
    margin-top: 30px;
    display: flex;
    margin-left: 15px;
    color: rgb(2, 2, 36);
    font-weight: 750;
    font-size:15px;
}

.login1 input{
    margin-left: 15px;
    border-radius: 8px;
    border: 1px  rgb(226, 221, 221);
    box-shadow: 1px 3px 6px  rgba(182, 178, 178, 0.5);
    padding: 7px;
    width: 200px;
    margin-top: 5px;
    outline-color: #bf1996;
}


.lin1{
    margin-top: 5px;
    margin-left: 160px;
    font-weight: 500;
    color: #bf1996;
    font-size: 10px;
    font-style: italic;
}
.lin1:hover{
    text-decoration: underline;
    color:rgb(29, 29, 151);
}

.login2 p{
    margin-left: 15px;
    color: rgb(18, 18, 139);
    font-weight: 650;
    font-size: 13px;
    margin-top: -10px;
}





.button1{
    background-color:#bf1996 ;
    border: 0px;
    border-radius: 25px;
    width: 150px;
    margin-left: 15px;
    height: 25px;
    color: white;
    margin-top: 10px;
    height: 35px;
    cursor: pointer;
}
button:disabled,
button:focus:disabled,
button:hover:disabled,
button:active:disabled {
  background: #ccc;
  border-color: #ccc;
  color: #666666;
  cursor: not-allowed;
}

.lin2{
    color: #F27B1A;
    font-style: italic;
    font-size: 11px;
    margin-left: 190px;
    margin-top: -25px;
}
.lin2:hover{
    text-decoration: underline;
    color:rgb(16, 16, 20);
}
.line3{
    height: 0px;
    margin-left: 10px;
    border: 1px solid rgb(218, 214, 214);
    width: 280px;
    margin-right: 10px;
    margin-top: 43px;
}

.lin4{
    color:rgb(2, 2, 36);
    font-size:14px;
    margin-left: 80%;
    margin-top:-34px;
    font-weight: 550;
}
.lins4{
    color:rgb(2, 2, 36);
    font-size:14px;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: 550;
}

.lin5{
    color:#F27B1A;
    font-size:13px;
    margin-top: -30px;
    margin-left: 230px;
}

.lin4:hover{
    text-decoration: underline;
    color:#bf1996;
}
.lin5:hover{
    text-decoration: underline;
    color:#bf1996;
}