.newform{
    /* background-color: rgb(82, 76, 76); */
    /* position: relative; */
    width: 310px;
    margin-left: 850px;
    height: 400px;
    border-radius: 5px;
    margin-top: -430px;
    /* border:1px solid #bf1996; */
    display:flex;
    flex-direction: row;
    /* background-image: url("assets/terralogo.jpg"); */
}
h5{
    color:rgb(2, 2, 36);
    padding-top: 1.5rem;
    margin-left: 30px;
    font-size: 1.05rem;
    font-weight: 650;
    margin-top: 12px;
}
.newlogin label{
    display: flex;
    margin-left: 15px;
    color: rgb(2, 2, 36);
    font-weight: 750;
    margin-top: 50px;
    font-size:15px;
}

.newinput{
    margin-left: 15px;
    border-radius: 8px;
    border: 1px;
    box-shadow: 1px 3px 6px  rgba(163, 157, 157, 0.5);
    padding: 7px;
    width: 200px;
    outline-color: #bf1996;
    margin-top: 5px;
}
