
.h5{
    color:rgb(2, 2, 36);
    padding-top: 1.5rem;
    margin-left: 30px;
    font-size: 1.05rem;
    font-weight: 650;
    margin-top: 12px;
}
.button{
    background-color:#bf1996 ;
    border: 0px;
    border-radius: 25px;
    width: 150px;
    margin-left: 15px;
    /* height: 25px; */
    color: white;
    margin-top: 80px;
    height: 35px;
    cursor: pointer;
}
.line1{
    margin-top: 10px;
    margin-left: 25px;
    border: 0px;
    font-size: 0.8rem;
}
.line1:hover{
    text-decoration: underline;
    color:rgb(2, 2, 36);
}
.logo1{
    margin-top: 80px;
    margin-left: 70px;
}

.conditions{
    
    width:220px;
    border-radius: 10px;
    margin-left: 15px;
    box-shadow: 0px 0px 5px 0px;
    margin-top: 7px;
}